<div class="container">
    <div class="row">
            <div class="col-6">
                    <div class="card">
                            <img class="card-img-top" src="../image/course.jpg" alt="Card image">
                            <div class="card-body">
                                <h5 class="card-title">Complete Python Bootcamp: Go from zero to hero in Python 3</h5>
                                <p class="card-text">pranav , Author and Technical </p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
                        
            </div>
            <div class="col-6">
                    <div class="card">
                            <img class="card-img-top" src="../image/course.jpg" alt="Card image">
                            <div class="card-body">
                                <h5 class="card-title">Complete Python Bootcamp: Go from zero to hero in Python 3</h5>
                                <p class="card-text">pranav , Author and Technical </p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>
            </div>
    </div>
    <br>
   <div class="row">
        <div class="col-6">
                <div class="card">
                        <img class="card-img-top" src="../image/course.jpg" alt="Card image">
                        <div class="card-body">
                            <h5 class="card-title">Complete Python Bootcamp: Go from zero to hero in Python 3</h5>
                            <p class="card-text">pranav , Author and Technical </p>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
        </div>
   </div>
    
</div>