<div class="container">
        <table class="table">
                <thead>
                  <tr>
                    <th>Project Id</th>
                    <th>Skill </th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="x in noti_data">
                                <td>1411071312</td>
                                <td>Java Microservice,SpringCloud,Nodejs Microservice</td>
                                <td>john@example.com</td>
                              </tr>
                  <!-- <tr ng-repeat="x in noti_data">
                    <td>{{x.project_Id}}</td>
                    <td>{{x.job}}</td>
                    <td>john@example.com</td>
                  </tr> -->
                  
                 
                </tbody>
              </table>
</div>