<div class="container">
    <div class="row">
        <div class="col-8">
            <br /><br />
            <h3>SR DEV SECOPS ENGINEER/APPLICATION SECURITY ENGINEER</h3>
            <div class="card-text"> <span class="fas fa-briefcase"></span>&nbsp;&nbsp;&nbsp;2-5 yrs
            </div>
            <div class="card-text"> <span class="fas fa-map-marker-alt"></span>&nbsp;Bangalore
            </div>
            <div>
                    <span>Role &nbsp;&nbsp;:&nbsp;&nbsp; Team Lead/Technical Lead</span><br>
                    <spa>Role Category &nbsp;&nbsp;:&nbsp;&nbsp; Programming & Design</spa> 
            </div>
            <div>
                <span>Keyskills&nbsp;&nbsp;:&nbsp;&nbsp; Java Microservice,SpringCloud,Nodejs Microservice,Python</span>
            </div>
            <br/>
            <h4>Job Description</h4>
            <h5>Primary Roles and Responsibilities: </h5>
            <p>
                    Candidate is responsible for executing the strategic direction for DevOps & SecOps delivery processes. This includes defining the DevOps capability and leading DevOps transformation in the areas of Security, Continuous Integration, Continuous Delivery, Continuous Deployment, Automation, Proactive Measurement and Remediation.
                    DevOps & SecOps Strategy & Leadership: Execute the strategy and roadmap. Lead as the trusted advisor to the organization and guide them through the change. Partner the organization to strengthen and evolve SecOps and DevOps principles and practices across the enterprise.
                    Drive Continuous Improvement: Establish a culture of continuous improvement. Drive improvement in processes that accelerate the delivery of new features. Constantly seek opportunities to streamline existing processes by introducing automation, tools, or infrastructure to scale the business. Design and direct all aspects of Continuous Delivery and Deployment implementation. Promote securing coding practices across the organization, working closely with InfoSec team. 
                    Problem Solving: Work across the team as a solution hunter to identify major pain points or opportunities where technology solutions or processes can drive the business and IT more effectively. Review detailed security assessment by development team (such as reviewing SAST false positives and remediation), recommend changes to drive secure coding practices
                    Innovation: Innovate at all levels, identify new tools and processes to incorporate into DevSecOps Eco-system. Work with extended team to increase adoption.
            </p>
            <h5>Experience/ Qualifications :</h5>
            <p>
                    At least 8 years of strong software engineering experience.<br>
                    Experience working with InfoSec or Compliance teams; Familiarity with generally-accepted security methods, concepts, and techniques.<br>
                    Working knowledge of development systems such as Git, Maven and Jenkins<br>
                    Experience working with one or more scanning tools in SAST, RASP, DAST, IAST, OSA space, integrated with CI/CD process.<br>
                    Working knowledge of penetration testing tools and vulnerability assessment activities<br>
                    Experience working with AWS or another cloud providers.<br>
                    Experience with leveraging Automated functional test (aka. UI test) in vulnerability detection and remediation.<br>
                    You are confident and competent. You are diplomatic, professional and exercise great judgment in developing and maintaining excellent relationships within the organization of approximately 200 extended team members.<br>
                    Proven ability to work creatively and analytically in a problem-solving environment<br>
                    Ability to quickly understand new technology through instruction and self-learning<br>
            </p>
            <button type="button" class="btn btn-primary" ng-click="applyForJob()">Apply </button>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="col-4">
            <h4>Recomdation Course For You</h4>
            <div class="card">
                <img class="card-img-top" src="../image/course.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Complete Python Bootcamp: Go from zero to hero in Python 3</h5>
                    <p class="card-text">pranav , Author and Technical </p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <br>
            <div class="card">
                    <img class="card-img-top" src="../image/course.jpg" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">Complete Python Bootcamp: Go from zero to hero in Python 3</h5>
                        <p class="card-text">pranav , Author and Technical </p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
        </div>
    </div>

</div>