<div></div>
<!-- <form ng-submit="searchData()">
        <div class="form-group has-search" style=" margin-top: 1em;">
                 <input type="text" class="form-control" ng-model="searchValue" placeholder="Search">
         </div>
</form> -->

<div class="container">
    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Project Id</th>
                <th>Job Id</th>
                <th>Skills<i class="fas fa-signal-alt-3    "></i></th>
            </tr>
        </thead>
        <tbody id="html">
        </tbody>
    </table>
    
    
  
    <!-- <div ng-repeat="hrdata in skilldata" >
      <div class="card border-primary mb-3" >
        <div class="card-body ">
            <h3>Project_Id &nbsp;&nbsp;:&nbsp;&nbsp; {{hrdata.projectid}}</h3>
            <h4>Project Name &nbsp;&nbsp;:&nbsp;&nbsp;  {{hrdata.project}}</h4>
            <h4>JobId &nbsp;&nbsp;:&nbsp;&nbsp; {{hrdata.jobid}}</h4>
            <h4>Skill &nbsp;&nbsp;:&nbsp;&nbsp;  {{hrdata.skills}}</h4>
            <p> Discription  &nbsp;&nbsp;:&nbsp;&nbsp; {{hrdata.jobdescription}} </p>
         
        </div>
        <div style="padding: 10px" align="right" ng-if="hrdata.status=='N'">
           <a ui-sref="employee_open({skills: hrdata.skills,projectId:hrdata.projectid})">Find Resource</a>
        </div>
      </div>
    </div> -->
  
</div>







