*{
    padding: 0px;
    margin: 0px;
}

.has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    margin-top: 1em;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  /* Spinner */
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    border-right: 16px solid black;
    border-bottom: 16px solid black;
    border-left: 16px solid #f3f3f3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* User Profile  */
  .user_profile{
    color: white;
    font-size: 41px;
  }
/* Rating  */
  .checked {
    color: orange;
  }

  /* GFor Alert */
  .costome_alert{
    position: fixed;z-index: 9;
    bottom: 0%;
    right: 0%;
  }